@use '../utilities/helpers' as helpers;

.cards{
        padding: 2rem;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        
        grid-template-columns: 1fr;

        &__load{
            padding-top: 0.5rem;
            text-align: center;
            grid-column: 1/2;
            
            @include helpers.media(helpers.$lg-phone){
                grid-column: 1/3;
            }
    
            @include helpers.media(helpers.$tablet){
                grid-column: 1/4;
            }
            
            @include helpers.media(helpers.$desktop){
                grid-column: 1/5;
            }
            
            @include helpers.media(helpers.$lg-desktop){
                grid-column: 1/6;
            }

            &__btn{
                @include helpers.buttons;

                &>*{
                    color: helpers.setColor(bg-secondary);
                }
            }
        }

        @include helpers.media(helpers.$lg-phone){
            grid-template-columns: repeat(2,1fr);
        }

        @include helpers.media(helpers.$tablet){
            grid-template-columns: repeat(3,1fr);
        }
        
        @include helpers.media(helpers.$desktop){
            grid-template-columns: repeat(4,1fr);
        }
        
        @include helpers.media(helpers.$lg-desktop){
            grid-template-columns: repeat(5,1fr);
        }
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    
    &--big{
        @include helpers.media(helpers.$desktop){
            height: 90vh;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
    }

    &__body{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(helpers.setColor(bg-primary), $alpha: 0.5);
        opacity: 0.8;
        padding: 1rem 0.25rem 2rem 0.25rem;
        
        &__title{
            color: helpers.setColor(text-primary);
            margin-bottom: 1rem;
            
        }
        
        &__desc{
            color: helpers.setColor(text-primary);

        }

    }
}