
.screen{
    padding-top: 70px;
    max-width: 100vw;
    min-height: 100vh;

    &__grid{
        // min-height: 100vh;
        margin: 2rem;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
        text-align: center;

    }
}