//==================== Global variables ====================

//==================== Color variables ====================
$gradient: linear-gradient(30deg, #F5C518, #91BC3B, #31A664, #00897C, #006877, #2F4858 );

$lightPalette : (
    'primary' : #F5C518,
    'secondary' : #2F4858,
    'accent': #31A664,
    'accent-light': lighten(#31A664, 35%),
    'bg-primary': #141313,
    'bg-secondary': #1D1D1D, // navigation bar
    'text-primary': #FFFFFF,
    'text-secondary': #949494
);

//==================== Size variables ====================
$lg-phone: 425px;
$tablet: 768px;
$desktop: 1024px;
$lg-desktop: 1370px;

//==================== Functions ====================

// This function get the color of the map $lightPalette
@function setColor( $color ){
    @return map-get($lightPalette , $color ) 
};

//==================== Mixins ====================

// Mixin for styling buttons
@mixin buttons {
    background-color: setColor(primary);
    font-weight: 800;
    color: setColor(bg-secondary);
    padding: 0.75rem 1.225rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 400ms ease-in-out;
    &:focus,
    &:hover{
        background-color: lighten(setColor( primary),15);
    }
    
}

// Mixin for Media Queries
@mixin media( $size ) {
    @media only screen and (min-width: $size ){
        @content;
    }
}

// Helper classes

.fadeIn{
    animation: fade-in 700ms ease-in-out forwards;
}

.active{
    color: setColor(secondary) !important;
}

.link{
    color: setColor(accent) !important;
    cursor: pointer;
    font-size: 1.25rem;
    transition: color 400ms ease-in-out;

    &:hover{
        color: setColor(secondary) !important;
    }
}
